@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Asp.Net Core Blog Sayfamıza Hoşgeldiniz.</h1>
    <p>Bu sitede Asp.Net Core MVC ile geliştirilmiş bir Blog örneğini bulabilirsiniz. Bu örnek Asp.Net Core MVC ile ilgili eğitim için hazırlanmış olup eğitim dokümanlarına <a href="https://github.com/alperkonuralp/AspNetCoreMVCEgitimi">Github</a> üzerinden erişebilirsiniz.</p>
    <hr />

    <div class="blog-posts">
        <div class="blog-post">
            <h2>Blog Yazısı 1</h2>
            <p>Bu, ilk blog yazısının içeriğidir. Asp.Net Core MVC hakkında temel bilgiler içerir.</p>
            <a asp-action="Index" asp-controller="Post">Devamını oku...</a>
        </div>
        <hr />
        <div class="blog-post">
            <h2>Blog Yazısı 2</h2>
            <p>Bu, ikinci blog yazısının içeriğidir. Asp.Net Core MVC ile ilgili ileri seviye konulara değinir.</p>
            <a href="#">Devamını oku...</a>
        </div>
        <hr />
        <div class="blog-post">
            <h2>Blog Yazısı 3</h2>
            <p>Bu, üçüncü blog yazısının içeriğidir. Asp.Net Core MVC projelerinde performans optimizasyonu hakkında bilgiler sunar.</p>
            <a href="#">Devamını oku...</a>
        </div>
    </div>
</div>
