@model AspNetCoreBlog.Models.PostListModelDto
@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Asp.Net Core Blog Sayfamıza Hoşgeldiniz.</h1>
    <p>Bu sitede Asp.Net Core MVC ile geliştirilmiş bir Blog örneğini bulabilirsiniz. Bu örnek Asp.Net Core MVC ile ilgili eğitim için hazırlanmış olup eğitim dokümanlarına <a href="https://github.com/alperkonuralp/AspNetCoreMVCEgitimi">Github</a> üzerinden erişebilirsiniz.</p>
    <hr />

    <div class="blog-posts">
        @foreach (var item in Model.PagePosts)
        {
            <div class="blog-post">
                <h2>@item.Title</h2>
                <p>@item.Summary</p>
                <a asp-action="Index" asp-controller="Post" asp-route-id="@item.Id">Devamını oku...</a>
            </div>
            <hr />
        }
    </div>
</div>
