@model AspNetCoreBlog.Models.PostListModelViewModel
@{
    ViewData["Title"] = "Sayfa " + Model.PageIndex;
}

<div class="text-center">
    <h1 class="display-4">Asp.Net Core Blog Sayfamıza Hoşgeldiniz.</h1>
    <hr />
    <h2> Sayfa @Model.PageIndex </h2>

    @* Partial View'ı çağırıyoruz *@
    @await Html.PartialAsync("_BlogPosts", Model)

</div>
